label{ 
 display:block; 
 color:#55aa22; 
 font-family: Arial, Helvetica, sans-serif; 
 font-size: 1.3em; 
 } 
 /* diseño de letras principales */
 
 
fieldset legend{ 
 color:#FF0000; 
 font-weight:bold; 
 font-family: Arial, Helvetica, sans-serif; 
 }

 
 /* agrega margen a el formulario */
fieldset{ 
 width:30%; 
 border-color:35F32E; 
 padding:10px; 
 margin:30px;   
 border-radius: 10px;    
 } 
 
 
 /* cambia el color de fondo del formulario */
form { 
 width:350px; 
 border: 1px solid #C6E9FF; 
 background:#F5ECCE; 
 padding:30px;    
   border-radius: 10px;    
 } 
 
 /* borde de los campos */
input.rounded { 
 width:250px; 
 height:38px; 
 font-size:15px; 
 text-indent:32px; 

        border-radius: 14px; 
 padding-left:10px; 
        box-shadow: 2px 2px 3px #666; 
        outline:0; 
 }  
 
 /* cambia de color al selecionar la caja */
input.rounded:focus { 
    border:2px solid;  
    border-color:red ; 
    background-color:#2AE3AF; 
    color:blue; 
    width:300px; 
    transition:width 1s; 
} 

/* imagen de usuario */
input.nombre{ 
    background:#fff url(User2.png)no-repeat left center; 
} 

/* imagen de pasword*/
input.password{ 
    background:#fff url(../Blueprint.png)no-repeat left center; 
} 
/* imagen de empleados */
input.adim{ 
    background:#fff url(adim.ico)no-repeat left center; 
}
/* imagen de habitacion */
input.star{ 

    background:#fff url(star.ico)no-repeat left center; 
}	
/* IMAGEN PARA EMPLEADOS */
input.users{
		background:#fff url(../users.ico)no-repeat left center;

}

/* diseño de los botones */
input.submit { 
    background-color:#2EFE9A; 
    border:1px sólido #509111; 
    border-bottom : 1px  sólido  # 5b992b ; 
    border-radius: 3px ;     
    box-shadow:inset 0 1px 0 0 #9fd574; 
    Color:red; 
    font-weight:bold; 
    padding:6px 20px; 
    text-align:center; 
    text-shadow :0 -1px 0 #396715; 
} 
 
 /* cambia al poner el puntero */
input.submit:hover { 
    opacity:.85; 
    cursor:pointer; 
} 




/* cambia al momento de presionar el boton */
input.submit:active{ 
    border:1px sólido #A42C00; 
    box-shadow:0 0 10px 5px  #356b0b  inset;     
}
/* EMPLEADO */


