

#contenedor
{
	background:black;
    margin-right:auto;
	margin-left:auto;
	margin-top:10px;
	height:700px;
	width:1200px;
	opacity:3;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	
	
}
/*tabla de los formularios*/
label{ 
 display:block; 
 color:black; 
 font-family: Arial, Helvetica, sans-serif; 
 font-size: 1.3em; 
 } 

 
 } 
 /* diseño de letras principales */
 
  fieldset legend{ 
color:black; 
 font-weight:bold; 
 font-family: Arial, Helvetica, sans-serif; 
 
	
 
 }

 
 /* Comienza el estilo de los iconos*/
.inner-addon { 
    position: relative; 
	margin-bottom:10px;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding letras de las cajas  */
.left-addon input  {
	padding-left:  30px;
 border-radius: 5px; 
 box-shadow: 2px 2px 3px #666; 
 outline:0; 
 z-index:1;
 
 
 }
 .left-addon{
	 padding-left:0px;
	 padding-right:50px;
 }
.right-addon input { padding-right: 30px; }
/*cajas*/
.left-addon input:focus{
	border:2px solid;  
   
    background-color:#ffffff; 
    color:ffffff; 
    width:300px; 
	

    transition:width 1s;}
 
 /* temina el formulario de iconos*/

 
 
 /* cambia el color de fondo del formulario */
form { 
width:350px; 
 border: 2px solid #C6E9FF; 
 background:#FFFFFF; 
 padding:30px;    
   border-radius: 5px;    s 
 } 
 /* borde de los campos */
input.rounded { 
 width:250px; 
 height:38px; 
 font-size:15px; 
 text-indent:32px; 
 border: 12px solid blue; 
        border-radius: 14px; 
 padding-left:10px; 
        box-shadow: 2px 2px 3px #666; 
        outline:0; 
 } 
 
 


/* diseño de los botones */
input.submit { 
background-color:black; 
    border:1px sólido #509111; 
    border-bottom : 1px  sólido  # 5b992b ; 
    border-radius: 3px ;     
    box-shadow:inset 0 1px 0 0 #9fd574; 
    Color:white; 
    font-weight:bold; 
    padding:6px 20px; 
    text-align:center; 
    text-shadow :0 -1px 0 #396715;  
} 
 
 /* cambia al poner el puntero */
input.submit:hover { 
    opacity:.85; 
    cursor:pointer; 
} 




/* cambia al momento de presionar el boton */
input.submit:active{ 
    border:1px sólido #20911e; 
    box-shadow:0 0 10px 5px  #356b0b  inset;       
}


/* DISEÑO DE LA TABLA */
table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    margin: 45px;     width: 480px; text-align: left;    border-collapse: collapse; }

th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;    border-top: 1px solid transparent; }

tr:hover td { background: #d0dafd; color: #339; }