body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: justify;
}

.starter-template > h1{
	text-align:center;
}

.enunciado_tabla{
	background: #6495ED;
	border-radius: 2px;
	height: 20px;
	color: white;
	text-align: center;
	box-shadow: -3px -1px 14px 4px rgba(0, 0, 0,0.3);
}
.enunciado_tabla:hover{
	opacity: 0.8;
}

.footer{
	text-align: center;
	padding-top: 30%;
}

.footer-align{
	text-align: center;

}